/*** CSS-RESET & GENERAL STYLES ***/

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "New Rocker", "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size: 24px;
  color: #f64a45;
  background: transparent;
  border: 0;
  box-sizing: inherit;
  outline: 0;
}

*:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-size: 120px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 36px;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
}

label {
  display: inline-block;
  text-align: right;
}

label small{
  font-size: 17px;
}

::-webkit-input-placeholder {color: #999;}
::-moz-placeholder          {color: #999; opacity: 1;}
:-moz-placeholder           {color: #999; opacity: 1;}
:-ms-input-placeholder      {color: #999;}
::-ms-input-placeholder     {color: #999;}

button, select, input {
  display: block;
  height: 40px;
  border: 1px solid #f64a45;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s;
}

select, input {
  width: 200px;
  margin: 0 48px;
  padding: 0 5px;
}

button:hover{
  background: #1d1f20;
}

button:active{
  background: #333;
}

input:hover, select:hover {
  background: #111;
}

progress[value]  {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 220px;
  height: 20px;
  color: #f64a45;
}

progress[value]::-webkit-progress-bar {
  background: #666;
  border-radius: 3px;
}

progress[value]::-webkit-progress-value{
  background: #f64a45;
  border-radius:3px;
}

progress[value]::-moz-progress-bar {
  background: #f64a45;
  border-radius:3px;
}


/* START MENU */

.start-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #111;
}

.start-menu {
  margin-bottom: 5%;
}

.start-menu button {
  width: 200px;
  margin: 25px 0;
}


/* GAME */

.game {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #1d1f20;
}

.top-bar-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  margin-bottom: 1%;
  padding: 0 50px;
  background: #111;
}

.top-bar, .bottom-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18%;
  margin: 2% 50px;
}

.bottom-bar {
  justify-content: space-around;
  height: 16%;
  margin: 2% 50px;
}

.bottom-bar p, .top-bar-stats p{
  text-align: center;
}

.top-bar-stats {
  display: flex;
  justify-content: space-evenly;
}

.top-bar-stats div{
  width: 25%;
  text-align: center;
}

.messages {
  font-size: 30px;
  text-align: center;
}

.messages p:first-child {
  margin-bottom: 1%;
}

.btn-quit {
  width: 150px;
  margin: 15px 0;
}

.map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.row-map {
  display: flex;
}

.row-map.first {
  border-top: 6px solid #999;
}

.row-map.last {
  border-bottom: 6px solid #999;
}

.square {
  display: block;
}

.wall {background: #666;}
.empty {background: #111;}
.certificate {background: #f64a45;}
.skill {background: orange;}
.boss-wall {background: yellow;}
.boss {background: red;}
.player img {background: #111;}
/*.player {*/
/*  background: #fff url(/images/player.png) no-repeat;*/
/*}*/

.game-over p {
  font-size: 38px;
  text-align: center;
}

.game-over p.result {
  margin-top: 50px;
  font-size: 30px;
}

.result-form {
  margin-top: 50px;
}

.result-form input {
  display: inline-block;
  width: 250px;
  margin: 0 25px;
  text-align: center;
}

.result-form .btn-save {
    display: inline-block;
    width: 150px;
}


/* SETTINGS */

.settings {
  height: 100%;
  background: #1d1f20;
}

.btn-back {
  width: 100px;
  margin: 15px 0;
}

.settings-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
}

.settings-form div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.settings-form div label{
  width: 250px;
}

.settings-form .btn-save {
  margin: 30px auto;
  width: 100px;
}

.btn-save:hover {
  background: #111;
}

.btn-save:active{
  background: #333;
}


/* TOP RESULTS */

.top-results {
  height: 100%;
  background: #1d1f20;
}

.top-results-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.top-results-body table {
  width: 50%;
}

.top-results-body th {
  padding: 12px;
  border-bottom: 1px solid #f64a45;
}

.top-results-body td {
  padding: 12px;
  text-align: center;
  /*border: 1px solid #f64a45;*/
}

.top-results-body tbody tr:first-child td {color: gold;}
.top-results-body tbody tr:nth-child(2) td {color: #999;}
.top-results-body tbody tr:nth-child(3) td {color: #cd7f32;}

.top-results-body td:first-child {
  width: 10%;
}

.no-results {
  text-align: center;
}